#contactPage {
   
    min-height: auto;
    padding-top: 3rem;
    padding-bottom: 3rem;

    width: 100vw;
    max-width: 60rem;
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contactPageTitle {
    font-size: 3rem;
    margin-bottom: 0.5rem;
}

.contactDesc {
    padding: 0 1rem 1.5rem;
    font-size: 1rem;
    font-weight: 300;
    color: #aaa;
}

#contact {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* FORM */

.contactForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 40rem;
}

.name, .email, .msg {
    font-size: 0.95rem;
    width: 100%;
    margin: 0.5rem 0;
    padding: 0.75rem 1rem;
    color: white;
    border: none;
    border-radius: 0.5rem;
    background: rgb(40, 40, 40);
    outline: none;
}

.msg {
    resize: none;
}

/* BUTTON */

.submitBtn {
    background: white;
    border: none;
    border-radius: 0.5rem;
    margin-top: 1.5rem;
    padding: 0.75rem 3rem;
    font-weight: 500;
    cursor: pointer;
    transition: 0.2s ease;
}

.submitBtn:hover {
    background: #ddd;
    transform: translateY(-2px);
}

/* SOCIALS */

.links {
    margin-top: 2rem;
    display: flex;
    gap: 1rem;
}

.link {
    height: 2.5rem;
    width: 2.5rem;
    opacity: 0.7;
    cursor: pointer;
    transition: 0.2s ease;
}

.link:hover {
    opacity: 1;
    transform: scale(1.1);
}
