#intro {
    height: calc(100vh - 3rem);
    width: 100vw;
    max-width: 75rem;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}
.mobileAvatar {
  display: none;
}

.bg {
    position: absolute;
    top: 1rem;
    right: 1rem;
    z-index: -1;
    object-fit: cover;
    height: 100vh;
}

.introContent {
    min-height: 100vh;
    width: 100vw;
    padding: 2rem;
    font-size: 3rem;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hello {
    font-size: 1.75rem;
    font-weight: 100;
}

.introName {
    color: yellow;
}

.introPara {
  
    font-size: medium;
    font-weight: 300;
    letter-spacing: 1px;
    padding-top: 6px;
}
.typeText {
  color: #00f5ff;
  font-weight: 600;
}

.btn {
    
    background: white;
    margin: 2rem 0;
    padding: 0.7rem 0.7rem;
    border: none;
    border-radius: 2rem;
    cursor: pointer;
}

.btnImg {
    object-fit: cover;
    margin: 0 0.25rem;
    height: 1rem;
}

@media screen and (max-width: 720px) {
  .bg {
    display: none;
  }


  .introContent {
    font-size: 7.5vw;
    align-items: flex-start;   
    text-align: left;
    min-height: 100vh;
    padding-top: 2rem;
  }

  .hello {
    font-size: 5.5vw;
  }

.mobileAvatar {
  margin-top: -0.5rem;
  display: block;
  width: clamp(120px, 40vw, 180px);
  height: clamp(120px, 40vw, 180px);
  border-radius: 50%;
  object-fit: cover;
  object-position: center 10%;
  margin-bottom: 1rem;
  border: 3px solid #00f5ff;
  box-shadow: 0 0 15px rgba(0,245,255,0.5);
  align-self: center;
}

}

